body {
  background: #EEEEEE;
  text-align: center
}

#main {
  width: 90%;
  height: 90%;
  background: #FFFFFF;
  margin: 25px auto;
  border-radius: 5px;
  border: solid 2px #000000;
}

h1 {
  text-align: center;
  font-family: "Times New Roman";
  font: 20pt;
  color: #000000;
}

hr {
  height:2px;
  color: #000000;
}

p {
  font-family: "Calibri";
  font-size: 14pt;
  text-align: center;
  color: #2f2d2d;
}

#timer{ 
  float: center;
  width: 75px;
  height: 30px;
  margin: 30px;
  font-size: 15px;
  border: solid 2px #000000;
  outline: none;
  margin: auto;
  margin-top: 60px;
  
}

#center{
	float:center;
	height:15%;
}

#left{
	float:left;
	height:50%;
	width:50%;
}

#right{
	float:right;
	height:50%;
	width:50%;
}

#counter1{
    font-size:32px;
    font-family:Calibri;
    background:green;
	position: relative;
    padding: 20% 20%;
    line-height:100px;
    border-radius: 5px;
    box-shadow:0 0 10px black inset;
    border:solid 2px #000000;
    display: inline-block;
    transition:0.2s;
    margin-top: 20px;
}

#counter2{
    font-size:32px;
    font-family:Calibri;
    background:red;
    padding: 20% 20%;
    line-height:100px;
    border-radius:5px;
    box-shadow:0 0 10px black inset;
    border:solid 2px #000000;
    display: inline-block;
    transition:0.2s;
    margin-top: 20px;
}

#counter1:active{
    background:darkgreen;
    box-shadow:0 0 15px black inset;
}


#counter2:active{
    background:darkred;
    box-shadow:0 0 15px black inset;
}